<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	   <input type="hidden" th:value="${proId}"  name="proId">
	   	   <table cellpadding="5">
	   	   <tr>
                <td  style="text-align: right;">项目工号:</td>
                    <td><input class="easyui-validatebox" type="text" readonly="readonly" th:value="${produce.proNumber}" data-options=""></input></td>
                    <td style="text-align: right;">施工单位:</td>
                    <td><input class="easyui-validatebox" type="text" readonly="readonly" th:value="${produce.proConst}" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">劳务单位:</td>
                    <td><input class="easyui-validatebox" type="text" readonly="readonly" th:value="${produce.proDeptName}" data-options=""></input></td>
                    <td style="text-align: right;">预算金额:</td>
                    <td><input class="easyui-validatebox" type="text" readonly="readonly" th:value="${projectRoadWork.prwBudget}" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">施工地点:</td>
                    <td colspan="3"><input class="easyui-validatebox" type="text" readonly="readonly" th:value="${projectRoadWork.prwRoadName}" style="width: 300px;" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">结算金额:</td>
                    <td><input class="easyui-validatebox" type="text" name="accountsMoney" data-options=""></input></td>
                    <td style="text-align: right;">结算时间:</td>
                    <td><input class="easyui-datetimebox" type="text" name="accountsTime" data-options=""></input></td>
                    
                </tr>
                <tr>
                    <td style="text-align: right;">备注:</td>
                    <td colspan="3">
<textarea rows="5" cols="70" name="accountsRemark"></textarea>
                   </td>
                </tr>
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/accounts/add.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	</script>
</body>

