<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate >
	        <input type="hidden" value="1" name="proType" />
	        <input type="hidden" value="2" name="proStatus" />
	   	   <table cellpadding="5" style="width: 600px; ">
	   	   
	   	    <tr>
                    <td style="width: 90px;text-align: right;">工号:</td>
                    <td>
                      <input class="easyui-validatebox" type="text" name="proNumber" data-options=""></input>
                    </td>
                    <td style="width: 90px;text-align: right;">临时工号:</td>
                    <td>
                    <input class="easyui-validatebox" type="text" name="proSnapNumber" data-options=""></input>
                     </td>
                </tr>
                <tr>
                    <td style="width: 90px;text-align: right;">序号:</td>
                    <td>
                      <input class="easyui-validatebox" type="text" name="proSerialNumber" data-options=""></input>
                    </td>
                    <td style="width: 90px;text-align: right;">编号性质:</td>
                    <td>
                      <select class="easyui-combobox" name="proNumberType" style="width: 148px;" >
                         <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'BHXZ')}"></option>
                         </select>
                    </td>
                   
                </tr>
	   	   
                <tr>
                <td style="width: 90px;text-align: right;">工程名称:</td>
                    <td>
                      <input class="easyui-validatebox" type="text" name="proName" data-options=""></input>
                    </td>
                    <td style="width: 90px; text-align: right;">测量定线:</td>
                    <td>
                        <select class="easyui-combobox" name="proGauge" style="width: 148px;" >
                           <option value="1">是</option>
                           <option value="0">否</option>
                         </select>
                    </td>
                   
                </tr>
                <tr>
                <td style="width: 90px;text-align: right;">联系人:</td>
                    <td>
                      <input class="easyui-validatebox" type="text" name="proUser" data-options=""></input>
                    </td>
                    <td style="width: 90px; text-align: right;">联系电话:</td>
                    <td>
                       <input class="easyui-validatebox" type="text" name="proUserPhone" data-options=""></input>
                    </td>
                   
                </tr>
                <tr>
                 <!-- <td style="width: 90px;text-align: right;">工号类别:</td>
                    <td>
                    <select class="easyui-combobox" name="proJobType" style="width: 148px;" >
                         <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'GHLB')}"></option>
                         </select>
                    
                    <input id="proJobType" name="proJobType" class="easyui-combobox"  style="width:148px"
                    data-options="{url:'/dictdata/getDataTree?dictCode=GHLB',valueField:'id',textField:'dictdataName',method:'get',
										onSelect:function(region){
										$('#proSource').combobox('clear'); 
										$('#proEngineType').combobox('clear');
										$('#proSource').combobox('reload','/dictdata/getDataTree?parentId='+region.id);
										}}"
                    > 
                    
                     </td> -->
                <td style="width: 90px;text-align: right;">工程来源:</td>
                    <td>
                    <select class="easyui-combobox" name="proSource" style="width: 148px;" >
                         <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'GCLY')}"></option>
                         </select>
                    
                          <!-- <input id="proSource" name="proSource" class="easyui-combobox"  style="width:148px" 
							data-options="{
							url:'',
							valueField:'id',
							textField:'dictdataName',
							method:'get',
							onSelect:function(region){
							$('#proEngineType').combobox('clear'); 
							$('#proEngineType').combobox('reload','/dictdata/getDataTree?parentId='+region.id);
							}}"
							>   -->
                     </td>
                    <td style="width: 90px;text-align: right;">工程类别:</td>
                    <td>
                   <!--  <select class="easyui-combobox" name="proEngineType" style="width: 148px;" >
                         <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'GCLB')}"></option>
                         </select> -->
                    <input id="proEngineType" name="proEngineType" class="easyui-combobox"  style="width:148px"
                    data-options="{url:'/dictdata/getDataTree?dictCode=GCLB',valueField:'id',textField:'dictdataName',method:'get',
										onSelect:function(region){
										$('#proPeriod').combobox('clear'); 
							            $('#proPeriod').combobox('reload','/dictdata/getDataTree?parentId='+region.id);
										}}">
                          <!-- <input id="proEngineType" name="proEngineType" class="easyui-combobox"  style="width:148px" 
							data-options="{
							url:'',
							valueField:'id',
							textField:'dictdataName',
							method:'get',
							onSelect:function(region){
							
							}}"
							>  -->
                       
                    </td>
                    
                </tr>
                <tr>
                <td style="width: 90px;text-align: right;">工程性质:</td>
                    <td>
                         <select class="easyui-combobox" name="proNature" id="proNature" style="width: 148px;" >
                             <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'GCXZ')}"></option>
                         </select>
                     </td>
                     
                     <td style="width: 90px;text-align: right;">任务下达时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="proLssuedTime" data-options=""></input>
                     </td>
                </tr>
               
                <tr>
               
                    <td style="width: 90px;text-align: right;">工程所在地区:</td>
                    <td>
                      <select class="easyui-combobox" name="proArea" style="width: 148px;" >
                         <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'GCDQ')}"></option>
                         </select>
                    </td>
                    <td style="width: 90px;text-align: right;">期次:</td>
                    <td>
                    <input id="proPeriod" name="proPeriod" class="easyui-combobox"  style="width:148px" 
							data-options="{
							url:'',
							valueField:'id',
							textField:'dictdataName',
							method:'get',
							onSelect:function(region){
							
							}}"
							> 
                    
                     <!-- <select class="easyui-combobox" name="proPeriod" style="width: 148px;" >
                         <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.contains(dict1.dictCode,'QC')}"></option>
                         </select> -->
                     </td>
                </tr>
                <!-- <tr>
                <td style="width: 90px;text-align: right;">路政报批时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="proRoadsTime" data-options=""></input>
                     </td>
                    <td style="width: 90px;text-align: right;">交通报批时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="proTrafficTime" data-options=""></input>
                    </td>
                    
                </tr> -->
                <tr>
                
                    <td style="width: 90px;text-align: right;">施工单位:</td>
                    <td>
                    <input id="proConst" name="proConst"   style="width: 150px;"  class="easyui-combobox" >
                    <script th:inline="javascript">
		                $('#proConst').combobox({  
		                    url:'/dept/getDataTree?parentCode=SGDW', //后台获取下拉框数据的url  
		                    method:'get',  
		                    panelHeight:200,//设置为固定高度，combobox出现竖直滚动条  
		                    valueField:'id',  
		                    textField:'name',  
		                    multiple:true,  
		                    formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法  
		                        var opts = $(this).combobox('options');  
		                        return  row[opts.textField]  
		                    }
		                });
		               /*  $(function(){
		                	$('#xsry').combobox('setValues','1,2,3'.split(','))
		                }) */
		                </script>
                    </td>
                    <td style="width: 90px;text-align: right;">转入单位:</td>
                    <td>
                     <select class="easyui-combobox" id="proDept" name="proDept" style="width: 148px;" >
                         </select>
                         <script type="text/javascript">
		                $('#proDept').combotree({
		                    url: '/dept/getDataTree',
		                    method: 'get',
		                    parentField:"pId",
		                    textFiled:"name",
		                    idFiled:"id"
		                })
		                </script>
                     </td>
                </tr>
                <tr>
                
                    <td style="width: 90px;text-align: right;">设计长度:</td>
                    <td>
                    <input class="easyui-validatebox" type="text" name="proDesignLength" data-options="validType:'intOrFloat'"></input>
                    </td>
                     <td style="width: 90px;text-align: right;">管径:</td>
                    <td>
                    <input class="easyui-validatebox" type="text" name="proPipeLength" data-options="validType:'intOrFloat'"></input>
                     </td>
                </tr>
                <tr>
               
                    <td style="width: 90px;text-align: right;">临时长度:</td>
                    <td >
                    <input class="easyui-validatebox" type="text" name="proSnapLength" data-options="validType:'intOrFloat'"></input>
                    </td>
                    <td style="width: 90px;text-align: right;">水表口径:</td>
                    <td>
                    <input class="easyui-validatebox" type="text" name="proWater" data-options="validType:'intOrFloat'"></input>
                     </td>
                </tr>
                <!-- <tr>
                <td style="width: 90px;text-align: right;">管阀口径:</td>
                    <td>
                    <input class="easyui-validatebox" type="text" name="proPipe" data-options="validType:'intOrFloat'"></input>
                     </td>
                    <td style="width: 90px;text-align: right;">管阀长度:</td>
                    <td colspan="3">
                    <input class="easyui-validatebox" type="text" name="proPipeLengths" data-options="validType:'intOrFloat'"></input>
                    </td>
                </tr> -->
                
                <tr>
                
                    <td style="width: 90px;text-align: right;">水表数量:</td>
                    <td>
                    <input class="easyui-validatebox" type="text" name="proWaterNumber" data-options="validType:'number'"></input>
                    </td>
                    <td style="width: 90px;text-align: right;">是否设计交底:</td>
                    <td>
                     <select class="easyui-combobox" name="proDesign" style="width: 148px;" >
                           <option value="1">是</option>
                           <option value="0">否</option>
                         </select>
                     </td>
                </tr>
                
                <tr>
                
                    <td style="width: 90px;text-align: right;">是否计费协议:</td>
                    <td colspan="3">
                     <select class="easyui-combobox" name="proBilling" style="width: 148px;" >
                           <option value="1">是</option>
                           <option value="0">否</option>
                         </select>
                    </td>
                </tr>
                <tr style="display: none;" id="LS">
                <td style="width: 90px;text-align: right;">临水开始时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="proWaterBegintime" id="proWaterBegintime" data-options=""></input>
                     </td>
                    <td style="width: 90px;text-align: right;">临水结束时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="proWaterEndtime" id="proWaterEndtime" data-options=""></input>
                    </td>
                    
                </tr> 
                <tr>
                <td style="width: 90px;text-align: right;">备注:</td>
                    <td colspan="3">
                       <textarea rows="5" cols="70" name="proRemark"></textarea>
                     </td>
                </tr>
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	$(document).ready(function () {
    	$("#proNature").combobox({
    		onChange: function (n,o) {
    			if(n=="8"){
    	    		  $("#LS").show();
    	    	  }else{
    	    		  $('#proWaterBegintime').datebox('setValue','');
    	    		  $('#proWaterEndtime').datebox('setValue','');
    	    		  $("#LS").hide();
    	    	  } 
    		}
    	})
    })
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/produces/add.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	</script>
</body>

