<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	       <input type="hidden" name="id" th:value="${dictdata.id}"/>
	   	   <table cellpadding="5">
	   	         <tr>
                    <td>编码:</td>
                    <td><input class="easyui-validatebox" type="text" name="dictdataCode" th:value="${dictdata.dictdataCode}" data-options="required:true,validType:'length[2,32]'"></input></td>
                </tr>
                <tr>
                    <td>名称:</td>
                    <td><input class="easyui-validatebox" type="text" name="dictdataName" th:value="${dictdata.dictdataName}" data-options="required:true,validType:'length[2,32]'"></input></td>
                </tr>
                <!-- <tr  >
                    <td>上级单位:</td>
                    <td>
                       <select id="cc"  name="parentId"  style="width:200px;" ></select> 
                    </td>
                </tr>
                <script th:inline="javascript">
                $('#cc').combotree({
                    url: '/dictdata/getDataTree',
                    method: 'get',
                    parentField:"parentId",
                    textFiled:"dictdataName",
                    idFiled:"id"
                })
                var parents=[[${dictdata.parentId}]]
                if(parents!=0){
                	$('#cc').combotree('setValue', parents); 
                }
                
                </script> -->
                <tr>
                    <td>类别:</td>
                    <td>
                         <select class="easyui-combobox" name="dictId" disabled="disabled"  style="width: 148px;" >
	           				  <span th:each="dic : ${dicts}" th:remove="tag">
		           				<option th:value="${dic.id}" th:text="${dic.dictName}" th:selected="${#strings.contains(dictdata.dictId,dic.id)}"></option>
	           				  </span>
	           			</select>

                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td>
                      <textarea rows="6" cols="50" name="dictdataMark" th:text="${dictdata.dictdataMark}"></textarea>
                    </td>
                </tr>
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/dictdata/edit.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName,"tb1");
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	</script>
</body>

