<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	   
	   	   <table cellpadding="5">
                <tr>
                    <td>登录名:</td>
                    <td><input class="easyui-validatebox" type="text" name="username" data-options="required:false"></input></td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td><input class="easyui-validatebox" type="text" readonly="readonly" value="123456" name="password" data-options="required:false"></input></td>
                </tr>
                <tr>
                    <td>姓名:</td>
                    <td><input class="easyui-validatebox" type="text" name="name" data-options="required:true,validType:'length[2,32]'"></input></td>
                </tr>
                <tr>
                    <td>手机号:</td>
                    <td><input class="easyui-validatebox" type="text" name="phone" data-options="required:true,validType:'length[7,20]'"></input></td>
                </tr>
                <tr>
                    <td>地址:</td>
                    <td><input class="easyui-validatebox" type="text" name="address" ></input></td>
                </tr>
                <tr>
                    <td>所属部门:</td>
                    <td>
                        <select class="easyui-combobox" name="deptId"  style="width: 148px;" >
	           				  <span th:each="dt : ${depts}" th:remove="tag">
		           				<option th:value="${dt.id}" th:text="${dt.name}" th:selected="${#strings.equals(deptId,dt.id)}"></option>
	           				  </span>
	           			</select>

                    </td>
                </tr>
                <tr>
                    <td>是否启用:</td>
                    <td>
                            <input type="radio" name="enable" value="1" checked="checked"/>启用
                            <input type="radio" name="enable" value="0"/>不启用
                    </td>
                </tr>
                <tr>
                   <td>角色</td>
                   <td>
                     <input id="xsry" name="rolesId"   style="width: 150px;"  class="easyui-combobox" >  
                   </td>
                </tr>
                <script th:inline="javascript">
                $('#xsry').combobox({  
                    url:'/roles/getUserData', //后台获取下拉框数据的url  
                    method:'get',  
                    panelHeight:200,//设置为固定高度，combobox出现竖直滚动条  
                    valueField:'id',  
                    textField:'roledesc',  
                    multiple:true,  
                    formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法  
                        var opts = $(this).combobox('options');  
                        return  row[opts.textField]  
                    }
                }); 
               /*  $(function(){
                	$('#xsry').combobox('setValues','1,2,3'.split(','))
                }) */
                </script>
                <tr>
                    <td>备注:</td>
                    <td>
                      <textarea rows="6" cols="50" name="mark"></textarea>
                    </td>
                </tr>
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/users/add.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	</script>
</body>

