<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	       <input type="hidden" name="id" th:value="${roadWork.id}"/>
	       <input type="hidden" name="prwCreator" th:value="${roadWork.prwCreator}"/>
	       <input type="hidden" name="prwCreateAt" th:value="${roadWork.prwCreateAt}"/>
	       <input type="hidden" th:value="${roadWork.proId}"  name="proId">
	   	   <table cellpadding="5">
                <!-- <tr>
                    <td>部门编码:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${dept.code}" name="code" data-options="required:true,validType:'length[3,32]'"></input></td>
                </tr>
                <tr>
                    <td>部门名称:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${dept.name}" name="name" data-options="required:true,validType:'length[3,32]'"></input></td>
                </tr>
                <tr>
                    <td>上级部门:</td>
                    <td>
                        <select class="easyui-combobox" name="parentId" style="width: 148px;" >
	           				  <option value="0" th:selected="${#strings.contains(dept.parentId,0)}">--请选择--</option>
	           				  <span th:each="dt : ${depts}" th:remove="tag">
		           				<option th:value="${dt.id}" th:text="${dt.name}"  th:selected="${#strings.contains(dept.parentId,dt.id)}"></option>
	           				  </span>
	           			</select>

                    </td>
                </tr> -->
                
                <tr>
                    <td style="text-align: right;">所属街道办事处:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwAddress}" name="prwAddress" data-options=""></input></td>
                    <td style="text-align: right;">涉及道路名称:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwRoadName}" name="prwRoadName" data-options=""></input></td>
                    <td style="text-align: right;">起点:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwOrigin}" name="prwOrigin" data-options=""></input></td>
                </tr>
                <tr>
                    <td style="text-align: right;">止点:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwStop}" name="prwStop" data-options=""></input></td>
                    <td style="text-align: right;">道路权属:</td>
                    <td>
                      <select class="easyui-combobox" name="prwOwnership" style="width: 148px;" >
	           				  	    <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.equals(dict1.dictCode,'DLQS')}" th:selected="${#strings.equals(roadWork.prwOwnership,dict1.id)}"></option>
	           					</select>
                    </td>
                    <td  style="text-align: right;">管路情况:</td>
                    <td>
                      <select class="easyui-combobox" name="prwCondition" style="width: 148px;" >
	           				  	    <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.equals(dict1.dictCode,'LGQK')}" th:selected="${#strings.equals(roadWork.prwCondition,dict1.id)}"></option>
	           					</select>
                    </td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">是否随大修路:</td>
                    <td>
                      <select class="easyui-combobox" name="prwRepair" style="width: 148px;" >
         				  	<option value="1" th:selected="${#strings.equals(roadWork.prwRepair,1)}">是</option>
         				  	<option value="2" th:selected="${#strings.equals(roadWork.prwRepair,2)}">否</option>
         					</select>
                    </td>
                    <td style="text-align: right;">是否非开挖:</td>
                    <td>
                      <select class="easyui-combobox" name="prwExcavation" style="width: 148px;" >
	           				  	<option value="1" th:selected="${#strings.equals(roadWork.prwExcavation,1)}">是</option>
	           				  	<option value="2" th:selected="${#strings.equals(roadWork.prwExcavation,2)}">否</option>
	           					</select>
                    </td>
                    <td style="text-align: right;">预判施工工时:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwPreliminaryTime}" name="prwPreliminaryTime" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">路政报批时间:</td>
                <td>
                    <input class="easyui-datetimebox" type="text" name="prwRoadsTime" th:value="${roadWork.prwRoadsTime}" data-options=""></input>
                     </td>
                    <td style="text-align: right;">交通报批时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="prwTrafficTime" th:value="${roadWork.prwTrafficTime}" data-options=""></input>
                    </td>
                <!-- <td style="text-align: right;">施工员:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwUserId}" name="prwUserId" data-options=""></input></td>
                		<td style="text-align: right;">电话:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwPhone}" name="prwPhone" data-options=""></input></td> -->
                    <td style="text-align: right;">完成DMA口径:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwDmaCaliber}" name="prwDmaCaliber" data-options="validType:'number'"></input></td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">完成DMA数量:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwDmaCount}" name="prwDmaCount" data-options="validType:'number'"></input></td>
                		<td style="text-align: right;">完成倒流防止器口径:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwBackCaliber}" name="prwBackCaliber" data-options="validType:'number'"></input></td>
                    <td style="text-align: right;">完成倒流防止器数量:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwBackCount}" name="prwBackCount" data-options="validType:'number'"></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">预算编制人:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwBudgetUser" th:value="${roadWork.prwBudgetUser}" ></input></td>
                		<td  style="text-align: right;">预算审核日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwBudgetTime" th:value="${roadWork.prwBudgetTime}"></input></td>
                <!-- <td style="text-align: right;">下周计划:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwWeekPlan}" name="prwWeekPlan" data-options="validType:'intOrFloat'"></input></td>
                		<td style="text-align: right;">下月计划:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwMonthPlan}" name="prwMonthPlan" data-options="validType:'intOrFloat'"></input></td> -->
                    <td style="text-align: right;">计划开工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwPst}" id="prwPst" name="prwPst" data-options="onChange:onSelectT"></input></td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">计划完工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwPet}" id="prwPet" name="prwPet" data-options="onChange:onSelectT"></input></td>
                		<td style="text-align: right;">计划总工期 :</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwTotalDuration}" id="prwTotalDuration" name="prwTotalDuration" readonly="readonly" data-options=""></input></td>
                    <td style="text-align: right;">实际开工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwAst}" name="prwAst" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">实际竣工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwAet}" name="prwAet" data-options=""></input></td>
                		<td style="text-align: right;">竣工验收日期:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwReceptionTime}" name="prwReceptionTime" data-options=""></input></td>
                    <td style="text-align: right;">转闸单日期:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwSwitchingDate}" name="prwSwitchingDate" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">转图日期:</td>
                    <td><input class="easyui-datetimebox" type="text" th:value="${roadWork.prwFigureDate}" name="prwFigureDate" data-options=""></input></td>
                		<td style="text-align: right;">预算价:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwBudget}" name="prwBudget" data-options="validType:'intOrFloat'"></input></td>
                    <td style="text-align: right;">结算价:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwSettlement}" name="prwSettlement" data-options="validType:'intOrFloat'"></input></td>
                    
                </tr>
                <tr>
                  <td style="text-align: right;">累计投入人力 :</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwManpower}" name="prwManpower" data-options="validType:'number'"></input></td>
                    <td style="text-align: right;">累计投入机械台班:</td>
                    <td><input class="easyui-validatebox" type="text" th:value="${roadWork.prwRoadWork}" name="prwRoadWork" data-options="validType:'intOrFloat'"></input></td>
                <td  style="text-align: right;">劳务分包队伍:</td>
                    <td><!-- <input class="easyui-validatebox" type="text" name="prwTeam" th:value="${roadWork.prwTeam}"></input> -->
                    
                    <input id="prwTeam" name="prwTeam"   style="width: 150px;"  class="easyui-combobox" >
                    <script th:inline="javascript">
                    $('#prwTeam').combobox({  
                        url:'/dictdata/getDataTree?dictCode=NWDW', //后台获取下拉框数据的url  
                        method:'get',  
                        panelHeight:200,//设置为固定高度，combobox出现竖直滚动条  
                        valueField:'id',  
                        textField:'dictdataName',  
                        multiple:true,  
                        formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法  
                            var opts = $(this).combobox('options');  
                            return  row[opts.textField]  
                        }
                    });
                    var proConst=[[${roadWork.prwTeam}]]
                     $(function(){
                        $('#prwTeam').combobox('setValues',proConst.split(','))
                      })
                   /*  $(function(){
                      $('#xsry').combobox('setValues','1,2,3'.split(','))
                    }) */
                    </script>
                    
                    </td>
                   
                </tr>
                
                <tr>
                    <td  style="text-align: right;">合同签订日期 :</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwContractTime" th:value="${roadWork.prwContractTime}" ></input></td>
                    <td  style="text-align: right;">标办审核存档日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwArchiveTime" th:value="${roadWork.prwArchiveTime}"></input></td>
                    <td  style="text-align: right;">合同号:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwContractNumber" th:value="${roadWork.prwContractNumber}"></input></td>
                </tr>
                <tr>
                    <td  style="text-align: right;">合同金额 :</td>
                    <td><input class="easyui-validatebox" type="text" name="prwContractPrice" th:value="${roadWork.prwContractPrice}" data-options="validType:'intOrFloat'" ></input></td>
                    <td  style="text-align: right;">施组审核日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwGroupTime" th:value="${roadWork.prwGroupTime}"></input></td>
                    <td  style="text-align: right;">质检员:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwQuality" th:value="${roadWork.prwQuality}"></input></td>
                    
                </tr>
                
                <tr>
                   <td th:if="${#strings.equals(pro.proDesign,'1')}" style="text-align: right;">设计交底时间:</td>
                    <td th:if="${#strings.equals(pro.proDesign,'1')}"><input class="easyui-datetimebox" type="text" name="prwDesignTime" th:value="${roadWork.prwDesignTime}"></input></td>
                    <td th:if="${#strings.equals(pro.proBilling,'1')}" style="text-align: right;">计费协议签订时间:</td>
                    <td th:if="${#strings.equals(pro.proBilling,'1')}"><input class="easyui-datetimebox" type="text" name="prwBillingTime" th:value="${roadWork.prwBillingTime}"></input></td>
                    <td  style="text-align: right;">图纸性质:</td>
                    <td>
                    <select class="easyui-combobox" name="prwNature" style="width: 148px;">
	           				  	<option value="1" th:selected="${#strings.equals(roadWork.prwNature,1)}">简图</option>
	           				  	<option value="2" th:selected="${#strings.equals(roadWork.prwNature,2)}">蓝图</option>
	           					</select>
                   </td>
                </tr>
                
                <tr>
                 <td  style="text-align: right;">工程进展问题 :</td>
                    <td colspan="5">
                      <textarea rows="3" cols="100" name="prwProgressReport" th:text="${roadWork.prwProgressReport}"></textarea>
                      <!-- <input class="easyui-validatebox" type="text" style="width: 450px;" name="prwProgressReport" ></input> -->
                    </td>
                
                </tr>
                <tr>
                <td  style="text-align: right;">未开工原因:</td>
                    <td colspan="5">
                    <textarea rows="3" cols="100" name="prwReason"  th:text="${roadWork.prwReason}"></textarea>
                    <!-- <input class="easyui-validatebox"  style="width: 450px;" type="text" name="prwReason" ></input> -->
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: right;">未完工说明 :</td>
                    <td colspan="5">
                     <textarea rows="3" cols="100" name="prwExplain" th:text="${roadWork.prwExplain}"></textarea>
                    <!-- <input class="easyui-validatebox"  style="width: 450px;" type="text" name="prwExplain" ></input> -->
                    </td>
                </tr>
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/roadworks/edit.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"修改成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"修改失败");
                }
            }
        });
	}
	
	var day = 0;
  function onSelectT(d) { 
    var sd = $('#prwPst').datebox('getValue').replace(/-/g, '/'), ed = $('#prwPet').datebox('getValue').replace(/-/g, '/'); 
    if (sd != '' && ed != '') { 
      if (sd > ed) { 
        $.messager.alert('警告','结束时间要 大于 开始时间','warning'); 
      } else { 
        var totalMS = new Date(ed).getTime() - new Date(sd).getTime();//得到相差的毫秒数 
        day = Math.ceil(totalMS / 1000 / 24 / 60 / 60);//得到相差天数，不满一天不算一天将Math.ceil改为Math.floor 
        $("#prwTotalDuration").val(day);
      } 
    } 
  }
	</script>
</body>

