<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <link rel="stylesheet" type="text/css" th:href="@{/easy_ui/js/jquery-easyui/themes/ui-cupertino/easyui.css}" id="skin">
    <link rel="stylesheet" type="text/css" th:href="@{/easy_ui/js/jquery-easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easy_ui/js/jquery-easyui/demo/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easy_ui/css/style.css}">
    
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <script type="text/javascript" th:src="@{/easy_ui/js/jquery-1.9.1.js}"></script>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/easy_ui/js/jquery.cookie.js}"></script>
    <script type="text/javascript" th:src="@{/easy_ui/js/jquery.easyui.min.js}"></script>
    
    <script type="text/javascript" th:src="@{/easy_ui/js/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{/easy_ui/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/easy_ui/js/ztree_min.js}"></script>
    <script type="text/javascript" th:src="@{/easy_ui/js/validator.js}"></script>
    <script type="text/javascript" th:src="@{/easy_ui/js/base-loading.js}"></script>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" enctype="multipart/form-data" novalidate>
	   <input type="hidden" th:value="${proId}"  name="proId">
	   	   <table cellpadding="5">
                <tr>
                    <td style="text-align: right;">所属街道办事处:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwAddress" data-options=""></input></td>
                    <td  style="text-align: right;">涉及道路名称:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwRoadName" data-options=""></input></td>
                    <td  style="text-align: right;">起点:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwOrigin" data-options=""></input></td>
                </tr>
                <tr>
                    <td  style="text-align: right;">止点:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwStop" data-options=""></input></td>
                    <td  style="text-align: right;">道路权属:</td>
                    <td>
                      <select class="easyui-combobox" name="prwOwnership" style="width: 148px;" >
	           				  	    <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.equals(dict1.dictCode,'DLQS')}"></option>
	           					</select>
                    </td>
                    <td  style="text-align: right;">管路情况:</td>
                    <td>
                      <select class="easyui-combobox" name="prwCondition" style="width: 148px;" >
	           				  	    <option th:each="dict1 : ${dicts}" th:value="${dict1.id}" th:text="${dict1.dictdataName}" th:if="${#strings.equals(dict1.dictCode,'LGQK')}"></option>
	           					</select>
                    </td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">是否随大修路:</td>
                    <td>
                      <select class="easyui-combobox" name="prwRepair" style="width: 148px;">
	           				  	<option value="1">是</option>
	           				  	<option value="2">否</option>
	           					</select>
                    </td>
                    <td  style="text-align: right;">是否非开挖:</td>
                    <td>
                     <select class="easyui-combobox" name="prwExcavation" style="width: 148px;" >
	           				  	<option value="1">是</option>
	           				  	<option value="2">否</option>
	           					</select>
                      
                    </td>
                    <td  style="text-align: right;">预判施工工时:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwPreliminaryTime" ></input></td>
                    
                </tr>
                <tr>
                <td style="text-align: right;">路政报批时间:</td>
               <td>
                    <input class="easyui-datetimebox" type="text" name="prwRoadsTime" data-options=""></input>
                     </td>
                    <td style="text-align: right;">交通报批时间:</td>
                    <td>
                    <input class="easyui-datetimebox" type="text" name="prwTrafficTime" data-options=""></input>
                    </td>
                
               <!--  <td  style="text-align: right;">施工员:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwUserId" data-options=""></input></td>
                		<td  style="text-align: right;">电话:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwPhone" data-options=""></input></td> -->
                    <td  style="text-align: right;">完成DMA口径:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwDmaCaliber" data-options="validType:'number'"></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">完成DMA数量:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwDmaCount" data-options="validType:'number'"></input></td>
                		<td  style="text-align: right;">完成倒流防止器口径:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwBackCaliber" data-options="validType:'number'"></input></td>
                    <td  style="text-align: right;">完成倒流防止器数量:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwBackCount" data-options="validType:'number'"></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">预算编制人:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwBudgetUser" ></input></td>
                		<td  style="text-align: right;">预算审核日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwBudgetTime" ></input></td>
                <!-- <td  style="text-align: right;">下周计划:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwWeekPlan" data-options="validType:'intOrFloat'"></input></td>
                		<td  style="text-align: right;">下月计划:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwMonthPlan" data-options="validType:'intOrFloat'"></input></td> -->
                    <td  style="text-align: right;">计划开工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" id="prwPst" name="prwPst" data-options="onChange:onSelectT"></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">计划完工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" id="prwPet" name="prwPet" data-options="onChange:onSelectT"></input></td>
                		<td  style="text-align: right;">计划总工期 :</td>
                    <td><input class="easyui-validatebox" type="text" id="prwTotalDuration" name="prwTotalDuration" readonly="readonly" data-options="validType:'number'"></input></td>
                    <td  style="text-align: right;">实际开工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwAst" data-options=""></input></td>
                    
                </tr>
                <tr>
                <td  style="text-align: right;">实际竣工时间:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwAet" data-options=""></input></td>
                		<td  style="text-align: right;">竣工验收日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwReceptionTime" data-options=""></input></td>
                    <td  style="text-align: right;">转闸单日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwSwitchingDate" data-options=""></input></td>
                  
                </tr>
                <tr>
                  <td  style="text-align: right;">转图日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwFigureDate" data-options=""></input></td>
                		<td  style="text-align: right;">预算价:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwBudget" data-options="validType:'intOrFloat'"></input></td>
                    <td  style="text-align: right;">结算价:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwSettlement" data-options="validType:'intOrFloat'"></input></td>
                </tr>
                <tr>
                 <td  style="text-align: right;">累计投入人力 :</td>
                    <td><input class="easyui-validatebox" type="text" name="prwManpower" data-options="validType:'number'"></input></td>
                    <td  style="text-align: right;">累计投入机械台班:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwRoadWork" data-options="validType:'intOrFloat'"></input></td>
                    <td  style="text-align: right;">劳务分包队伍:</td>
                    <td><!-- <input class="easyui-validatebox" type="text" name="prwTeam" ></input> -->
                    <input id="prwTeam" name="prwTeam"   style="width: 150px;"  class="easyui-combobox" >
                    <script th:inline="javascript">
                    $('#prwTeam').combobox({  
                        url:'/dictdata/getDataTree?dictCode=NWDW', //后台获取下拉框数据的url  
                        method:'get',  
                        panelHeight:200,//设置为固定高度，combobox出现竖直滚动条  
                        valueField:'id',  
                        textField:'dictdataName',  
                        multiple:true,  
                        formatter: function (row) { //formatter方法就是实现了在每个下拉选项前面增加checkbox框的方法  
                            var opts = $(this).combobox('options');  
                            return  row[opts.textField]  
                        }
                    });
                   /*  $(function(){
                      $('#xsry').combobox('setValues','1,2,3'.split(','))
                    }) */
                    </script>
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: right;">合同签订日期 :</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwContractTime" ></input></td>
                    <td  style="text-align: right;">标办审核存档日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwArchiveTime" ></input></td>
                    <td  style="text-align: right;">合同号:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwContractNumber" ></input></td>
                </tr>
                
                <tr>
                    <td  style="text-align: right;">合同金额 :</td>
                    <td><input class="easyui-validatebox" type="text" name="prwContractPrice" data-options="validType:'intOrFloat'" ></input></td>
                    <td  style="text-align: right;">施组审核日期:</td>
                    <td><input class="easyui-datetimebox" type="text" name="prwGroupTime" ></input></td>
                    <td  style="text-align: right;">质检员:</td>
                    <td><input class="easyui-validatebox" type="text" name="prwQuality" ></input></td>
                </tr>
                
                <tr>
                    <td  th:if="${#strings.equals(pro.proDesign,'1')}" style="text-align: right;">设计交底时间:</td>
                    <td th:if="${#strings.equals(pro.proDesign,'1')}"><input class="easyui-datetimebox" type="text" name="prwDesignTime" ></input></td>
                    
                    <td  th:if="${#strings.equals(pro.proBilling,'1')}" style="text-align: right;">计费协议签订时间:</td>
                    <td th:if="${#strings.equals(pro.proBilling,'1')}"><input class="easyui-datetimebox" type="text" name="prwBillingTime" ></input></td>
                </tr>
                <tr>
                 <td  style="text-align: right;">工程进展问题 :</td>
                    <td colspan="5">
                      <textarea rows="3" cols="100" name="prwProgressReport"></textarea>
                      <!-- <input class="easyui-validatebox" type="text" style="width: 450px;" name="prwProgressReport" ></input> -->
                    </td>
                
                </tr>
                <tr>
                <td  style="text-align: right;">未开工原因:</td>
                    <td colspan="5">
                    <textarea rows="3" cols="100" name="prwReason"></textarea>
                    <!-- <input class="easyui-validatebox"  style="width: 450px;" type="text" name="prwReason" ></input> -->
                    </td>
                </tr>
                <tr>
                    <td  style="text-align: right;">未完工说明 :</td>
                    <td colspan="5">
                     <textarea rows="3" cols="100" name="prwExplain"></textarea>
                    <!-- <input class="easyui-validatebox"  style="width: 450px;" type="text" name="prwExplain" ></input> -->
                    </td>
                </tr>
                <!-- <tr>
                  <td style="text-align:right">上传图片:</td>
                  <td colspan="3">
                    <div class="layui-upload">
										  <button type="button" class="layui-btn" id="test2"><i class="layui-icon">&#xe67c;</i>多图片上传</button> 
										  <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 2px;">
										       预览图：
										    <div class="layui-upload-list" id="demo2"></div>
										 </blockquote>
										</div>
									</td>
                </tr> -->
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/roadworks/add.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	
  
  var day = 0;
  function onSelectT(d) { 
    var sd = $('#prwPst').datebox('getValue').replace(/-/g, '/'), ed = $('#prwPet').datebox('getValue').replace(/-/g, '/'); 
    if (sd != '' && ed != '') { 
      if (sd > ed) { 
        $.messager.alert('警告','结束时间要 大于 开始时间','warning'); 
      } else { 
        var totalMS = new Date(ed).getTime() - new Date(sd).getTime();//得到相差的毫秒数 
        day = Math.ceil(totalMS / 1000 / 24 / 60 / 60);//得到相差天数，不满一天不算一天将Math.ceil改为Math.floor 
        $("#prwTotalDuration").val(day);
      } 
    } 
  }
  
 /*  var upload;
  layui.use('upload', function(){
    upload = layui.upload;
    
    //多图片上传
  upload.render({
    elem: '#test2'
    ,url: '/roadworks/multifileUpload'
    ,multiple: true
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
       obj.preview(function(index, file, result){
        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
      }); 
    }
    ,allDone: function(obj){ //当文件全部被提交后，才触发
    console.log(obj.total); //得到总文件数
    console.log(obj.successful); //请求成功的文件数
    console.log(obj.aborted); //请求失败的文件数
    return layer.msg('成功上传'+ obj.total + '文件');
    }
    ,done: function(res){
        //如果上传失败
        if(res.code > 0){
          return layer.msg('上传失败');
        }
        //上传成功
      }
        return layer.msg('上传失败');
      }
  });
  });
   */
	
	</script>
</body>

