<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	     <input type="hidden" name="detail" id="detail" value="" />
	   </form>
	       <table>
	          <tr>
	             <td>工号：</td>
	             <td><input class="easyui-validatebox" type="text" name="" th:value="${pro.proNumber}"></input></td>
	             <td>临时工号：</td>
	             <td><input class="easyui-validatebox" type="text" name="" th:value="${pro.proSnapNumber}"></input></td>
	             <td>序号：</td>
	             <td><input class="easyui-validatebox" type="text" name="" th:value="${pro.proSerialNumber}"></input></td>
	          </tr>
	           <tr>
	             <td>起点：</td>
	             <td><input class="easyui-validatebox" type="text" name="" th:value="${work.prwOrigin}"></input></td>
	             <td>止点：</td>
	             <td><input class="easyui-validatebox" type="text" name="" th:value="${work.prwStop}"></input></td>
	          </tr>
	       </table>
	        <div>
	       
	       <fieldset style="height: 300px; border-width: 1px; margin-top: 20px;">
				<table id="tb1" class="easyui-datagrid" title="" width="100%"
					height="100%" fit="true" border="0"
					data-options="iconCls: 'icon-edit',rownumbers:true,url:'',singleSelect:false,method:'get',toolbar:'#toolbar1',sortName:'sequence',sortOrder:'asc',onClickRow: onClickRow">
					<thead>
						<tr>
							<th data-options="field:'ck',checkbox:true" rowspan="2"></th>
							<th data-options="field:'id',hidden:true,align:'center',sortable:'true'" rowspan="2">id</th>
							<th data-options="field:'pcId',hidden:true,align:'center',sortable:'true'" rowspan="2">pcId</th>
							<th data-options="field:'proId',hidden:true,align:'center',sortable:'true'" rowspan="2">proId</th>
							<th
								data-options="field:'detailType',width:120,align:'center',sortable:'true',formatter:function(value,row){
							return row.detailTypeName;
						},editor:{
							type:'combobox',
							options:{
								valueField:'id',
								textField:'dictName',
								method:'get',
								url:'/dict/getDataTree?code=GZL,XHS,PQF,CL,YJSBPT,YJSBGJ,EJSBPT,EJSBGJ,JJM',
								width:98,
								onSelect: selectDetailSeries,
							}
						 }" rowspan="2">类别</th>
							<th
								data-options="field:'dnId',width:120,align:'center',sortable:'true',formatter:function(value,row){
							return row.dnIdName;
						},editor:{
							type:'combobox',
							options:{
								valueField:'id',
								textField:'dictdataName',
								method:'get',
								url:'',
								width:98
							}
						}" rowspan="2">型号</th>
						
						<th  align="center"  colspan="2" width="300">工作量长度(长度)</th>  
						<th  align="center"  colspan="2" width="300">倒流防止器口径(个数)</th>
						<th  align="center"  colspan="2" width="300">DMA(个数)</th>
						<th rowspan="2" data-options="field:'detailStopWater',width:150,align:'center',sortable:'true',formatter:function(value,row){
							if (value == 1) return '是';
	                                    return '否';
						},editor:{
						type:'checkbox',
						options:{
							on: '1',
							off: '2'
						}
					}" >计划停水</th>
						<th rowspan="2" data-options="field:'detailRinse',width:150,align:'center',sortable:'true',formatter:function(value,row){
							if (value == 1) return '是';
	                                    return '否';
						},editor:{
						type:'checkbox',
						options:{
							on: '1',
							off: '2'
						}
					}" >计划冲洗</th>
						<th rowspan="2" data-options="field:'detailGas',width:150,align:'center',sortable:'true',formatter:function(value,row){
							if (value == 1) return '是';
	                                    return '否';
						},editor:{
						type:'checkbox',
						options:{
							on: '1',
							off: '2'
						}
					}" >计划燃气</th>
						<th rowspan="2" data-options="field:'detailRemark',width:150,align:'center',sortable:'true',editor:'validatebox'" >备注</th>
						</tr>
						<tr>
						   <th data-options="field:'detailDay',width:150,align:'center',sortable:'true',editor:'validatebox'" >当天实际完成工作量</th>
						   <th data-options="field:'detailNextDay',width:150,align:'center',sortable:'true',editor:'validatebox'" >次日计划完成工作量</th>
						   <th data-options="field:'detailAnti',width:150,align:'center',sortable:'true',editor:'validatebox'" >倒流防止器口径</th>
						   <th data-options="field:'detailNextAnti',width:150,align:'center',sortable:'true',editor:'validatebox'" >次日倒流防止器口径</th>
						   <th data-options="field:'detailDma',width:150,align:'center',sortable:'true',editor:'validatebox'" >DMA口径</th>
						   <th data-options="field:'detailNextDma',width:150,align:'center',sortable:'true',editor:'validatebox'" >次日DMA口径</th>
						
						</tr>
					</thead>
				</table>
				<div id="toolbar1" class="easyui-layout"
					style="height: 35px; margin: 3px;">
					<div data-options="region:'center',border:false">
						<a class="easyui-linkbutton" icon="icon-add-new" plain="true"
							href="javascript:append()">新增</a> <a class="easyui-linkbutton"
							icon="icon-remove-new" plain="true" href="javascript:remove()">删除</a>
					</div>
				</div>
			</fieldset>
	       
	       
            </div>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	var pcId=[[${pcId}]]
	var proId=[[${pro.id}]]
	var createTime=[[${createTime}]]
	$(function(){
		$('#tb1').datagrid({
			url: '/workdailys/getDataTree?pcId='+pcId+"&createTime="+createTime
		})
		
	})
	
	
	function submitForm(){
		$('#tb1').datagrid('acceptChanges');
		var data=$('#tb1').datagrid("getData");
		$("#detail").val(JSON.stringify(data.rows));
        $('#myfm').form('submit',{
            url: '/workdailys/edit.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"添加成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"添加失败");
                }
            }
        });
	}
	
	var editIndex = undefined;
	function append(){
	    editIndex = $('#tb1').datagrid('getRows').length;
	    if(!editIndex){
	    	editIndex=0;
	    }
			$('#tb1').datagrid('appendRow',{pcId:pcId,proId:proId});
			$('#tb1').datagrid('selectRow', editIndex)
					.datagrid('beginEdit', editIndex);
			var detailType=$('#tb1').datagrid('getEditor', {index:editIndex,field:'detailType'});
			var dnId=$('#tb1').datagrid('getEditor', {index:editIndex,field:'dnId'});
			
		
			
			
			$(detailType.target).combobox({
				onSelect: function (i,row) {
					var id=$(detailType.target).combobox('getValue');
					$(dnId.target).combobox({
						url:'/dictdata/getDataTree?dictId='+id
					});
				}
			})
			
			
	}
	function onClickRow(index){
		if (editIndex != index){
				$('#tb1').datagrid('selectRow', index)
						.datagrid('beginEdit', index);
				editIndex = index;
				var detailType=$('#tb1').datagrid('getEditor', {index:editIndex,field:'detailType'});
				var dnId=$('#tb1').datagrid('getEditor', {index:editIndex,field:'dnId'});
				
				var id=$(detailType.target).combobox('getValue');
				var model=$(dnId.target).combobox('getText');
				   $(dnId.target).combobox({
					  url:'/dictdata/getDataTree?dictId='+id
				   });
				   $(dnId.target).combobox('setValue', model);
				
		}
	}
	function selectDetailSeries(row){
		var rowIndex = $(this).parents('.datagrid-row').attr('datagrid-row-index');
		editIndex=rowIndex;
		var detailType=$('#tb1').datagrid('getEditor', {index:editIndex,field:'detailType'});
		var dnId=$('#tb1').datagrid('getEditor', {index:editIndex,field:'dnId'});
		
		var id=$(detailType.target).combobox('getValue');
		   $(dnId.target).combobox({
			   url:'/dictdata/getDataTree?dictId='+id
		   });
	}
	function remove(){
		var selRow = $('#tb1').datagrid('getSelections');
		if (selRow == null || selRow.length == 0) { 
        	return false;
        }else{
        	var rowIndex=$('#tb1').datagrid('getRowIndex',$('#tb1').datagrid('getSelected'));  
        	var rows = $('#tb1').datagrid('getRows');
        	var row = rows[rowIndex];
        	if(row.id!=null&&row.id!=''&&row.id!=undefined){
        		$.ajax( {
    				url : '/workdailys/delete?ids='+row.id,
    				dataType:'text',
    				type: 'delete',
    				success : function(result) {
    					if ("success"==result){
    					}else{
    					}
    					
    				}
    			});
        		
        	}
        	$('#tb1').datagrid('deleteRow',rowIndex);
        	 remove();
        }
	}
	</script>
</body>

