<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">

	<table id="tb1" class="easyui-datagrid" title="" title="" style="width:1260px;height:255px;" border="0"
           data-options="rownumbers:true,pagination:true,url:'/sends/getDataPro.do',singleSelect:false,method:'get',toolbar:'#toolbar1'">
        <thead>
            <tr>
            	<th data-options="field:'ck',checkbox:true"></th>
            	<th data-options="field:'proId',width:100,align:'center',sortable:'true',hidden:'true'">proId</th>
            	<th data-options="field:'contractSource',width:100,align:'center',sortable:'true' ,formatter:function(value,row){
            							if (value == 1) return '集团内';
	                                    return '集团外';
	                		  }">合同来源</th>
          		  <th data-options="field:'contractNumber',width:100,align:'center',sortable:'true'">合同编号</th>
          		   <th data-options="field:'contractName',width:100,align:'center',sortable:'true'">合同名称</th>
          		   <th data-options="field:'contractMoney',width:100,align:'center',sortable:'true'">合同金额</th>
          		   <th data-options="field:'contractSignTime',width:100,align:'center',sortable:'true'">合同签订日期</th>
            	<th data-options="field:'proStatus',width:150,align:'center',sortable:'true',formatter:function(value,row){
            							if (value == 1) return '在施';
            							if (value == 2) return '待施';
            							if (value == 4) return '<font style=color:red;>待转图</font>';
	                                    return '已完工';
	                		  }">状态</th>
            	<th data-options="field:'proNumber',width:100,align:'center',sortable:'true'">工号</th>
            	<th data-options="field:'proSnapNumber',width:100,align:'center',sortable:'true'">临时工号</th>
            	<th data-options="field:'proSerialNumber',width:100,align:'center',sortable:'true'">序号</th>
            	<th data-options="field:'proName',width:100,align:'center',sortable:'true'">工程名称</th>
            	<th data-options="field:'proEngineTypeName',width:100,align:'center',sortable:'true'">工程类别</th>
            	<th data-options="field:'proNatureName',width:100,align:'center',sortable:'true'">工程性质</th>
            	<th data-options="field:'proPeriodName',width:100,align:'center',sortable:'true'">期次</th>
            	<th data-options="field:'proDeptName',width:100,align:'center',sortable:'true'">转入单位</th>
            </tr>
        </thead>
   	</table>
    <div id="toolbar1" class="easyui-layout" style="height:40px;margin:3px;">
        <div data-options="region:'north',border:true" style="height:40px;">
            <form id="fm" method="post" novalidate>
            <table cellpadding="5">
              <tr>
                   <td>合同编号:</td>
                   <td><input class="easyui-validatebox textbox" type="text" name="contractNumber" id="contractNumber"></input></td>
                   <td><a href="javascript:search()" class="easyui-linkbutton" iconCls="icon-search">查找</a></td>
               </tr>
           </table>
           </form>
        </div> 
        
    </div> 
    <table id="tb2" class="easyui-datagrid" title="" style="width:1260px;height:255px;"  border="0"
           data-options="rownumbers:true,pagination:true,url:'',singleSelect:false,method:'get',toolbar:'#toolbar2'">
        <thead>
            <tr>
            	<th data-options="field:'ck',checkbox:true"></th>
            	<th data-options="field:'id',width:100,align:'center',sortable:'true',hidden:'true'">id</th>
	            <th data-options="field:'pcsYear',width:100,align:'center',sortable:'true'">申报年度</th>
            	<th data-options="field:'pcsMonth',width:100,align:'center',sortable:'true'">申报月份</th>
            	<th data-options="field:'pcsLength',width:100,align:'center',sortable:'true'">长度</th>
            	<th data-options="field:'pcsMoney',width:80,align:'center',sortable:'true'">金额</th>
            	<th data-options="field:'pcsRemark',width:100,align:'center',sortable:'true'">备注</th>
            </tr>
        </thead>
   	</table>
    <div id="toolbar2" class="easyui-layout" style="height:35px;margin:3px;">
       <div data-options="region:'center',border:false">
        <a th:each="but : ${buttons}" th:shiro:hasPermission="${but.resurl}" th: class="easyui-linkbutton" th:icon="${but.iconCls}" plain="true" th:href="|javascript:${but.butFun};|" th:text="${but.name}"></a>
        </div>
    </div> 
    <script th:inline="javascript">
    var menuName=[[${menuName}]]
    
    $(function(){ 
    	$('#tb1').datagrid({
    	onClickRow:function(rowIndex,rowData){
    		searchProp();
    	}
    	});
    	});
    
    function add(){
    	var selecteds = $('#tb1').datagrid('getSelections');
        if (selecteds == null || selecteds.length == 0) { 
        	Common.showMsg('提示','请选一条数据');
        	return;
        }
        if (selecteds.length>1) {
        	Common.showMsg('提示','不支持多个操作！');
        	return; 
        }
		top.framework.openTab('新增数据', '/sends/add?menuName=新增数据&parentMenuName='+menuName+"&proId="+selecteds[0].proId);
	}
    function edit(){
		/* var selecteds = $('#tb1').datagrid('getSelections'); */
		var selecteds2 = $('#tb2').datagrid('getSelections'); 
        if (selecteds2 == null || selecteds2.length == 0) { 
        	Common.showMsg('修改数据','请选择操作项！');
        	return;
        }
        if (selecteds2.length>1) {
        	Common.showMsg('修改数据','不支持多个操作！');
        	return; 
        }
		top.framework.openTab('修改数据', '/sends/add.do?menuName=修改数据&id='+selecteds2[0].id+'&parentMenuName='+menuName);
	}
    
    function remove(){
		var selecteds = $('#tb2').datagrid('getSelections');
        if (selecteds == null || selecteds.length == 0) { 
        	Common.showMsg('提示','请选择操作项！');
        	return;
        }
        $.messager.confirm('提示','确定删除吗?', 
        function(r){
            if (r){
            	var ids = '';
                $(selecteds).each(function (index) {
                    ids = ids + selecteds[index].id + ",";
                });
                ids = ids.substring(0, ids.length - 1);
        		$.ajax( {
    				url : '/sends/delete.do?ids='+ids,
    				dataType:'text',
    				type: 'delete',
    				success : function(result) {
    					if ("success"==result){
    						Common.showMsg('提示',"删除成功");
        				    search();
    					}else{
    						Common.showMsg('提示',"删除失败");
    					}
    					
    				}
    			});
            }
        });
        
	}
    function search(){
    	var names = $("#contractNumber").val();
		$('#tb1').datagrid({
            url:"/contracts/getData.do",
            queryParams:{
            	contractNumber:names
            }
        });
	}
    function searchProp(){
    	var selecteds = $('#tb1').datagrid('getSelections');
		$('#tb2').datagrid({
            url:"/sends/getData.do",
            queryParams:{
            	proId:selecteds[0].proId
            }
        });
	} 
   
    </script>
</body>

