<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.study.model.Dept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_Id" jdbcType="INTEGER" property="parentId" />
  </resultMap>
  
  <select id="selectAllDept" parameterType="com.study.model.Dept" resultType="com.study.model.Dept">
    select * from (
       select d1.code,d1.name,d1.id,d2.name as "parentName",d1.parent_Id as "parentId",d2.code as "parentCode" from dept d1 
         left join  dept d2 on d1.parent_Id=d2.id) t where 1=1 
         <if test="name!=null and name!=''">
           and name like  CONCAT(CONCAT('%', #{name}), '%')
         </if>
         <if test="parentCode!=null and parentCode!=''">
           and parentCode = #{parentCode}
         </if>
         <if test="id!=null and id!=''">
           and id = #{id}
         </if>
  order by id
  </select>
  
  
</mapper>