<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ProjectRoadWorkDailyMapper">
  <resultMap id="BaseResultMap" type="com.study.model.ProjectRoadWorkDaily">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pro_id" jdbcType="INTEGER" property="proId" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="prwd_one" jdbcType="DOUBLE" property="prwdOne" />
    <result column="prwd_two" jdbcType="DOUBLE" property="prwdTwo" />
    <result column="prwd_three" jdbcType="DOUBLE" property="prwdThree" />
    <result column="prwd_four" jdbcType="DOUBLE" property="prwdFour" />
    <result column="prwd_five" jdbcType="DOUBLE" property="prwdFive" />
    <result column="prwd_six" jdbcType="DOUBLE" property="prwdSix" />
    <result column="prwd_seven" jdbcType="DOUBLE" property="prwdSeven" />
    <result column="prwd_eight" jdbcType="DOUBLE" property="prwdEight" />
    <result column="prwd_nine" jdbcType="DOUBLE" property="prwdNine" />
    <result column="prwd_subtotal" jdbcType="DOUBLE" property="prwdSubtotal" />
  </resultMap>
  <select id="selectRoadWorkDaily" parameterType="com.study.model.ProjectRoadWorkDaily" resultType="com.study.model.ProjectRoadWorkDaily">
  
   select id,pro_id as "proId",create_user as "createUser",create_time as "createTime",
    prwd_one as "prwdOne",prwd_two as "prwdTwo",prwd_three as "prwdThree",prwd_four as "prwdFour",
      prwd_five as "prwdFive",prwd_six as "prwdSix",prwd_seven as "prwdSeven",prwd_eight as "prwdEight",
       prwd_nine as "prwdNine" ,(prwd_one+prwd_two+prwd_three+prwd_four+prwd_five+prwd_six+prwd_seven+prwd_eight+prwd_nine) as "prwdSubtotal"   from project_road_work_daily where 1=1
       <if test="proId!=null and proId!=''">
        and pro_id=#{proId}
       </if>
    
  </select>
</mapper>