<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.ProjectProduceMapper">
  <resultMap id="BaseResultMap" type="com.study.model.ProjectProduce">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pro_gauge" jdbcType="INTEGER" property="proGauge" />
    <result column="pro_job_type" jdbcType="INTEGER" property="proJobType" />
    <result column="pro_engine_type" jdbcType="INTEGER" property="proEngineType" />
    <result column="pro_nature" jdbcType="INTEGER" property="proNature" />
    <result column="pro_name" jdbcType="VARCHAR" property="proName" />
    <result column="pro_source" jdbcType="INTEGER" property="proSource" />
    <result column="pro_number" jdbcType="VARCHAR" property="proNumber" />
    <result column="pro_snap_number" jdbcType="VARCHAR" property="proSnapNumber" />
    <result column="pro_serial_number" jdbcType="VARCHAR" property="proSerialNumber" />
    <result column="pro_lssued_time" jdbcType="VARCHAR" property="proLssuedTime" />
    <result column="pro_area" jdbcType="INTEGER" property="proArea" />
    <result column="pro_roads_time" jdbcType="VARCHAR" property="proRoadsTime" />
    <result column="pro_traffic_time" jdbcType="VARCHAR" property="proTrafficTime" />
    <result column="pro_period" jdbcType="INTEGER" property="proPeriod" />
    <result column="pro_const" jdbcType="VARCHAR" property="proConst" />
    <result column="pro_dept" jdbcType="INTEGER" property="proDept" />
    <result column="pro_design_length" jdbcType="DOUBLE" property="proDesignLength" />
    <result column="pro_pipe_length" jdbcType="DOUBLE" property="proPipeLength" />
    <result column="pro_snap_length" jdbcType="DOUBLE" property="proSnapLength" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    
    <result column="pro_number_type" jdbcType="INTEGER" property="proNumberType" />
    <result column="pro_user" jdbcType="VARCHAR" property="proUser" />
    <result column="pro_user_phone" jdbcType="VARCHAR" property="proUserPhone" />
    <result column="pro_remark" jdbcType="VARCHAR" property="proRemark" />
    <result column="pro_pipe" jdbcType="DOUBLE" property="proPipe" />
    <result column="pro_pipe_lengths" jdbcType="DOUBLE" property="proPipeLengths" />
    <result column="pro_water" jdbcType="DOUBLE" property="proWater" />
    <result column="pro_water_number" jdbcType="INTEGER" property="proWaterNumber" />
    <result column="pro_design" jdbcType="INTEGER" property="proDesign" />
    <result column="pro_billing" jdbcType="INTEGER" property="proBilling" />
    <result column="pro_water_begintime" jdbcType="VARCHAR" property="proWaterBegintime" />
    <result column="pro_water_endtime" jdbcType="VARCHAR" property="proWaterEndtime" />
    <result column="pro_contract_number" jdbcType="VARCHAR" property="proContractNumber" />
    
    <result column="pro_status" jdbcType="INTEGER" property="proStatus" />
    <result column="pro_type" jdbcType="INTEGER" property="proType" />
  </resultMap>
  <!-- (select name from dept where id=pro_const) as "proConstName" -->
  <select id="selectProjectProAll" parameterType="com.study.model.ProjectProduce" resultType="com.study.model.ProjectProduce">
    select * from (select id,pro_gauge as "proGauge",(select dictdata_name from dictionarydata where id=pro_job_type) as "proJobTypeName" ,(select dictdata_name from dictionarydata where id=pro_engine_type) as "proEngineTypeName" ,(select dictdata_name from dictionarydata where id=pro_nature) as "proNatureName",pro_name as "proName",(select dictdata_name from dictionarydata where id=pro_source) as "proSourceName",(select dictdata_name from dictionarydata where id=pro_number_type) as "proNumberName",pro_number as "proNumber",pro_snap_number as "proSnapNumber",
	pro_serial_number as "proSerialNumber",pro_lssued_time as "proLssuedTime",(select dictdata_name from dictionarydata where id=pro_area) as "proAreaName",pro_roads_time as "proRoadsTime",pro_traffic_time as "proTrafficTime",(select dictdata_name from dictionarydata where id=pro_period) as "proPeriodName",(select name from dept where id=pro_dept) as "proDeptName",pro_dept as "proDept", pro_design_length as "proDesignLength",
	pro_pipe_length as "proPipeLength",pro_snap_length as "proSnapLength",create_user as "createUser",create_time as "createTime",pro_user as "proUser",pro_user_phone as "proUserPhone",pro_remark as "proRemark",pro_pipe as "proPipe",pro_pipe_lengths as "proPipeLengths",
	 pro_contract_number as "proContractNumber", pro_water as "proWater",pro_water_number as "proWaterNumber",pro_design as "proDesign",pro_billing as "proBilling",pro_water_begintime as "proWaterBegintime" , pro_water_endtime as "proWaterEndtime",pro_const as "proConst",pro_status as "proStatus", pro_type as "proType"   from project_produce) t where 1=1
	<if test="proName!=null and proName!=''">
	 and proName like CONCAT(CONCAT('%', #{proName}), '%')
	</if>
	<if test="proContractNumber!=null and proContractNumber!=''">
	 and proContractNumber like CONCAT(CONCAT('%', #{proContractNumber}), '%')
	</if>
	<if test="id!=null and id!=''">
	 and id=#{id}
	</if>
	<if test="id!=null and id!=''">
	 and id=#{id}
	</if>
	<if test="proDept!=null and proDept!=''">
	 and proDept=#{proDept}
	</if>
    
  </select>
</mapper>