<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="common/head :: header">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body class="easyui-layout">
	<div data-options="region:'center'" border="false">
	<div id="dlg" style="padding:10px 20px">
	   <div class="myftitle">基本信息</div>
	   <form id="myfm" method="post" novalidate>
	   <input type="hidden" name="id" th:value="${dicts.id}"/>
	   	   <table cellpadding="5">
	   	         <tr>
                    <td>编码:</td>
                    <td><input class="easyui-validatebox" type="text" name="dictCode" th:value="${dicts.dictCode}" data-options="required:true,validType:'length[2,32]'"></input></td>
                </tr>
                <tr>
                    <td>名称:</td>
                    <td><input class="easyui-validatebox" type="text" name="dictName" th:value="${dicts.dictName}" data-options="required:true,validType:'length[2,32]'"></input></td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td>
                      <textarea rows="6" cols="50" name="dictMark" th:text="${dicts.dictMark}"></textarea>
                    </td>
                </tr>
            </table>
	   </form>
    </div>
    </div>
    <div data-options="region:'south'" style="height: 40px;" border="false">
		<hr>
		<div style="text-align:center;">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" th:onclick="|top.framework.closeTab('${menu.menuName}')|">关闭</a>
    	</div>
	</div>
	<script th:inline="javascript">
	var parentMenuName=[[${menu.parentMenuName}]]
	var menuName=[[${menu.menuName}]]
	function submitForm(){
        $('#myfm').form('submit',{
            url: '/dict/edit.html',
            onSubmit: function(){
                return $(this).form('validate');
            },
            success: function(result){
                if ("success"==result){
                	Common.showMsg('提示',"修改成功");
                	top.framework.closeAndReloadTab(menuName, parentMenuName);
                } else {
                	Common.showMsg('提示',"修改失败");
                }
            }
        });
	}
	</script>
</body>

